<a href="https://colab.research.google.com/github/arthurdecovemacker/db-midterm/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_midterm_db")

In [2]:
conn = my_conn.connect()

In [3]:
conn.execute('''CREATE TABLE `Vehicle`(
  `ID` VARCHAR NOT NULL,
  `Registration-ID` VARCHAR NOT NULL,
  `Manufacturer` VARCHAR NOT NULL,
  `Model` VARCHAR NOT NULL,
  `Color` VARCHAR NOT NULL,
  `Current-Odometer` BIGINT,
  `Max-passenger-capacity` TINYINT NOT NULL,
  `type-of-Repair-Action` CHAR NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [4]:
conn.execute('''CREATE TABLE `Maintenance`(
  `Action-type` CHAR NOT NULL,
  `Odometer` BIGINT,
  `Cost` INT,
  `Action-detail` VARCHAR NOT NULL,
  `Date` DATE NOT NULL,
  `Vehicle-ID` VARCHAR NOT NULL,
  PRIMARY KEY(`Action-type`)
); ''')

In [5]:
conn.execute(''' CREATE TABLE `Countries`(
`Name` VARCHAR NOT NULL, `Countries-Languages-ID` INT NOT NULL,
  PRIMARY KEY(`Name`)
);''')

In [6]:
conn.execute('''CREATE TABLE `Games-Officials`(
  `ID` INT NOT NULL,
  `Countries_Name` VARCHAR NOT NULL,
  `Based-city-ID` VARCHAR(8) NOT NULL,
  `Games-Officials-Name` VARCHAR NOT NULL,
  `Games-Officials-Role` VARCHAR NOT NULL,
  `Languages-ID` INT NOT NULL,
  PRIMARY KEY(`ID`)
); ''')

In [7]:
conn.execute(''' CREATE TABLE `Driver's-Informations`(
  `ID` INT NOT NULL,
  `Driver-Name` VARCHAR NOT NULL,
  `Driver-License_number` BIGINT(18) NOT NULL,
  `Clerence-level` INT NOT NULL,
  `SLTVT-Level` INT,
  `FATL-Level` INT,
  `Languages-ID` INT NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [8]:
conn.execute('''CREATE TABLE `FATL`(
  `Level` INT,
  `Qualification-date` DATE NOT NULL,
  `Driver's-informations-ID` INT NOT NULL,
  PRIMARY KEY(`Level`)
); ''')

In [9]:
conn.execute('''CREATE TABLE `SLTVT`(
  `Level` INT,
  `Qualification-date` DATE NOT NULL,
  `Certifying-autho` VARCHAR NOT NULL,
  `Driver's-informations-ID` INT NOT NULL,
  PRIMARY KEY(`Level`)
);''')

In [10]:
conn.execute('''CREATE TABLE `Booking`(
  `ID` INT NOT NULL,
  `Trip-start` DATETIME NOT NULL,
  `Trip-end` DATETIME NOT NULL,
  `Odometer-start` BIGINT NOT NULL,
  `Odometer-end` BIGINT NOT NULL,
  `Games-Officials-ID` INT NOT NULL,
  `Driver's-informations-ID` INT NOT NULL,
  `Vehicle-ID` VARCHAR NOT NULL,
  `Trip-ID` INT NOT NULL,
  PRIMARY KEY(`ID`)
); ''')

In [11]:
conn.execute('''CREATE TABLE `Trip`(
  `ID` INT NOT NULL,
  `Pick-Up-ID` INT NOT NULL,
  `Drop-Off-ID` INT NOT NULL,
  PRIMARY KEY(`ID`)
); ''')

In [12]:
conn.execute(''' CREATE TABLE `Languages`(`ID` INT NOT NULL, PRIMARY KEY(`ID`));''')

In [13]:
conn.execute('''CREATE TABLE `Pick-Up`(
  `ID` INT NOT NULL,
  `Pick-Up-Adress` VARCHAR NOT NULL,
  `Location-Type` VARCHAR NOT NULL,
  PRIMARY KEY(`ID`)
); ''')

In [14]:
conn.execute(''' CREATE TABLE `Drops-Off`(
  `ID` INT NOT NULL,
  `Drops-Off-Adress` VARCHAR NOT NULL,
  `Location-Type` VARCHAR NOT NULL,
  PRIMARY KEY(`ID`)
);''')

In [21]:
conn.execute('''INSERT INTO Vehicle ('ID', 'Registration-ID', 'Manufacturer', 'Model', 'Color', 'Current-Odometer', 'Max-passenger-capacity', 'type-of-Repair-Action') VALUES (1000, 2001, 'Volvo', 'XC90 SE', 'Silver', 4350, 4, 'M');''')

In [22]:
conn.execute('''INSERT INTO Maintenance ('Action-type', 'Odometer', 'Cost', 'Action-detail', 'Date', 'Vehicle-ID') VALUES ('M', 4350, 300, 'detail', '10/12/23', 1000);''')

In [23]:
conn.execute('''INSERT INTO Countries ('Name', 'Countries-Languages-ID') VALUES ('FR','FR-01');''')

In [28]:
conn.execute('''INSERT INTO 'Games-Officials' ('ID', 'Countries_Name', 'Based-city-ID', 'Games-Officials-Name', 'Games-Officials-Role', 'Languages-ID') VALUES (1000, 'France', 'Paris', 'Luke', 'Director', 'FR-01');''')

In [29]:
conn.execute('''INSERT INTO `Driver's-Informations` ('ID', 'Driver-Name', 'Driver-License_number', 'Clerence-level', 'SLTVT-Level', 'FATL-Level', 'Languages-ID') VALUES (1000, 'Luke', 1300, 3, 4, 5, 'FR-01');''')

In [32]:
conn.execute('''INSERT INTO FATL ('Level', 'Qualification-date', "Driver's-informations-ID") VALUES (3, '2/10/22', 'info');''')

In [33]:
conn.execute('''INSERT INTO SLTVT ('Level', 'Qualification-date', 'Certifying-autho', "Driver's-informations-ID") VALUES (3, '2/10/22', 'CERTIF', 'D3-3');''')

In [41]:
conn.execute('''INSERT INTO Booking ('ID', 'Trip-start', 'Trip-end', 'Odometer-start', 'Odometer-end', 'Games-Officials-ID', "Driver's-informations-ID", 'Vehicle-ID', 'Trip-ID') VALUES ('2120' , '10/12/22', '30/12/22', 4350, 4700, 'id-3345', 1300, '1000', 206344);''')

In [42]:
conn.execute('''INSERT INTO Trip ('ID', 'Pick-Up-ID', 'Drop-Off-ID') VALUES (206344, 3332,  3333);''')

In [43]:
conn.execute('''INSERT INTO Languages ('ID') VALUES (206344);''')

In [46]:
conn.execute('''INSERT INTO "Pick-Up" ('ID', 'Pick-Up-Adress', 'Location-Type') VALUES (206344, '45 monro street paris',  'house');''')

In [47]:
conn.execute('''INSERT INTO "Drops-Off" ('ID', 'Drops-Off-Adress', 'Location-Type') VALUES (206344, '45 monro street paris',  'house');''')